.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu {
    width: 100%;
}
.tt-hint {
    width: 100%;
}

// .tt-dropdown-menu {
//     display: none !important;
// }
// .input-group-addon {
//     height: 34px;
// }
// .input-group-addon > .glyphicon {
//     color: white;
// }
// .glyph-remove {
//     background: red;
// }
// .glyph-ok {
//     background: green;
// }


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 34px;
// 	padding: 4px 9px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	width: 325.5px;
	display: table;
 
}
.tt-suggestion {
	display: block;
	overflow-x: hidden;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}


.alert-wrapper {
    height: 92px;
    width: content;
}
// .glyph-ok > span {
//     background-color:rgba(0, 0, 0, 0.0);
// }
// .glyph-remove > span {
//     background-color:rgba(0, 0, 0, 0.0);
// }
.glyphicon-calendar.glyphicon {
    color: rgb(85, 85, 85);
}
.input-group-btn button.btn {
    height: 34px;
}