// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
// @import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import Bootstrap Table
// @import "bootstrap-table.min";

// Import Bootstrap Editable
// @import "bootstrap-editable";

// Import normal CSS library
@import "global_utils";


$green: rgb(92, 184, 92);
$red: rgb(217, 83, 79);
$glyph-colors: (
    "ok": $green,
    "remove": $red,
    "plus": $green,
    "minus": $red
);
$dupe-colors: ("plus": "success", "minus": "danger");
@mixin glypher($type) {
    @extend .glyphicon;
    @extend .glyphicon-#{$type};
    color: map_get($glyph-colors, $type);
}
@each $type, $color in $glyph-colors {
    .glyph-#{$type} {
        &:hover {
            // color: $color;
        }
        cursor: default;
        & > span {
            @include glypher($type);
        }
    }
}
@each $type, $btn_type in $dupe-colors {
    .btn.dupe-#{$type} {
        // @extend .btn-#{$btn_type};
        $color: map_get($glyph-colors, if($type == "plus", "ok", "remove"));
        @extend .btn-default;
        & > span {
            @include glypher($type);
        }
    }
}

.well.well-sm > .input-group {
    
    &:not(:only-child):not(:last-child) {
        & .dupe-control {
            @extend .dupe-minus;
        }
    }
    margin-bottom: 15px;
    // &:last-child:not(:only-child) {
    //     & .dupe-control {
    //         @extend .dupe-plus;
    //     }
    // }
    &:last-child {
        margin-bottom: 0;
        & .dupe-control {
            @extend .dupe-plus;
            color: orange;
        }
    }
}
.table-responsive {
    table-layout: fixed;
    max-width: 100%;
}
.index {
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
}
.table {
    margin-bottom: 0px;
}
.well {
    margin-bottom: 0px;
}

@mixin offcanvas($side) {
    #{$side}: 0;
    
    & .sidebar-offcanvas {
        #{$side}: -50%; // 6 Column
    }
    
    &.active {
        #{$side}: 50%;
    }
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
             -o-transition: all .25s ease-out;
                transition: all .25s ease-out;
    }
    
    .row-offcanvas-right {
        @include offcanvas("right");
    }
    
    .row-offcanvas-left {
        @include offcanvas("left");
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
    }
}

#paginator-next button {
    @extend a;
}

.table-condensed {
    table-layout: fixed;
    & td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.placeholder {
    position: absolute;
    visibility: hidden;
    display: block;
}

.purchase-panel.panel-body {
    overflow: scroll;
    height: 75%;
}
.form-control.part-num-input.tt-hint {
    background-color: rgb(255, 255, 255);
}
div.fixed-table-body {
    height: 75%;
}