.twitter-typeahead {
    width: 100%;
}
.tt-dropdown-menu {
    width: 100%;
}
.tt-hint {
    width: 100%;
}
.tt-dropdown-menu {
    display: none !important;
}
.input-group-addon {
    height: 34px;
}
.input-group-addon > .glyphicon {
    color: white;
}
.glyph-remove {
    background: red;
}
.glyph-ok {
    background: green;
}
.alert-wrapper {
    height: 92px;
    width: content;
}